html
    head
        style.
            .bg-black{
                background-color:#808080;
            }

    body
        h1#header #{title}
        div.bg-black Hello : #{username}

        table
            for data in datalist
                tr
                    td= data.id
                    td= data.name